<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regServlet</servlet-name>
        <servlet-class>newpackage.regServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>newpackage.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>newpackage.logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>newpackage.registerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>newpackage.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connection</servlet-name>
        <servlet-class>newpackage.connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>newpackage.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotsevlet</servlet-name>
        <servlet-class>newpackage.forgotsevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotservlet</servlet-name>
        <servlet-class>newpackage.forgotservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>newpackage.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favServlet</servlet-name>
        <servlet-class>newpackage.favServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delfav</servlet-name>
        <servlet-class>newpackage.delfav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pmodifyservlet</servlet-name>
        <servlet-class>newpackage.pmodifyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpackServlet</servlet-name>
        <servlet-class>newpackage.addpackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingservlet</servlet-name>
        <servlet-class>newpackage.bookingservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserprofileServlet</servlet-name>
        <servlet-class>newpackage.UserprofileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminPackDelete</servlet-name>
        <servlet-class>newpackage.adminPackDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>newpackage.adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogoutServlet</servlet-name>
        <servlet-class>newpackage.adminlogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>newpackage.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regServlet</servlet-name>
        <url-pattern>/regServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connection</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotsevlet</servlet-name>
        <url-pattern>/forgotsevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotservlet</servlet-name>
        <url-pattern>/forgotservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favServlet</servlet-name>
        <url-pattern>/favServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delfav</servlet-name>
        <url-pattern>/delfav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pmodifyservlet</servlet-name>
        <url-pattern>/pmodifyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpackServlet</servlet-name>
        <url-pattern>/addpackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingservlet</servlet-name>
        <url-pattern>/bookingservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserprofileServlet</servlet-name>
        <url-pattern>/UserprofileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminPackDelete</servlet-name>
        <url-pattern>/adminPackDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogoutServlet</servlet-name>
        <url-pattern>/adminlogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
